*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

h1{
    color: white;
    font-size: 24px;
    font-family: sans-serif;
}

p{
    color: white;
    font-size: 13px;
    font-family: monospace;
}

.Box-for-principal{
    border: 3px darkcyan solid;
    border-radius: 3px;
    display: inline-block;
    width: 399px;
    height: 170px;
    background-color: darkgrey;
}

.Decoration-title{
    width: 390px;
    height: 60px;
    background-color: darkorchid;
}

img{
    width: 40px;
    height: 40px;
}

.Box-for-pregunts{
    border: 4px darkred solid;
    border-radius: 4px;
    display: list-item;
    width: 400px;
    height: auto;
    background-color: darkslategrey;
}

input{
    width: 200px;
}

.Box-for-derechos{
    border: 4px black solid;
    border-radius: 4px;
    display: inline-flex;
    width: auto;
    height: 80px;
    background-color: firebrick;
}

#imagen1{
    position: relative;
    display: inline;
}

.Box-for-information{
    border: 3px black solid;
    border-radius: 3px;
    display: inline-block;
    flex-grow: initial;
    animation: linear;
    width: 400px;
    height: 300px;
    background-color: darkslategrey;
}

.seccion-habuergesas{
    background-color: mediumblue;
}

.seccion-habuergesas::after{
    background-position: center;
}